/* css */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:11.5px;line-height:1}/*html{overflow-x:hidden}*/
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.iet-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.iet-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.iet-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.iet-table,.iet-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.iet-table-all{border:1px solid #ccc}
.iet-bordered tr,.iet-table-all tr{border-bottom:1px solid #ddd}.iet-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.iet-table-all tr:nth-child(odd){background-color:#fff}.iet-table-all tr:nth-child(even){background-color:#f1f1f1}
.iet-hoverable tbody tr:hover,.iet-ul.iet-hoverable li:hover{background-color:#ccc}.iet-centered tr th,.iet-centered tr td{text-align:center}
.iet-table td,.iet-table th,.iet-table-all td,.iet-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.iet-table th:first-child,.iet-table td:first-child,.iet-table-all th:first-child,.iet-table-all td:first-child{padding-left:16px}
.iet-btn,.iet-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.iet-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.iet-btn,.iet-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.iet-disabled,.iet-btn:disabled,.iet-button:disabled{cursor:not-allowed;opacity:0.3}.iet-disabled *,:disabled *{pointer-events:none}
.iet-btn.iet-disabled:hover,.iet-btn:disabled:hover{box-shadow:none}
.iet-badge,.iet-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.iet-badge{border-radius:50%}
.iet-ul{list-style-type:none;padding:0;margin:0}.iet-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.iet-ul li:last-child{border-bottom:none}
.iet-tooltip,.iet-display-container{position:relative}.iet-tooltip .iet-text{display:none}.iet-tooltip:hover .iet-text{display:inline-block}
.iet-ripple:active{opacity:0.5}.iet-ripple{transition:opacity 0s}
.iet-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.iet-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.iet-dropdown-click,.iet-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.iet-dropdown-hover:hover .iet-dropdown-content{display:block}
.iet-dropdown-hover:first-child,.iet-dropdown-click:hover{background-color:#ccc;color:#000}
.iet-dropdown-hover:hover > .iet-button:first-child,.iet-dropdown-click:hover > .iet-button:first-child{background-color:#ccc;color:#000}
.iet-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.iet-check,.iet-radio{width:24px;height:24px;position:relative;top:6px}
.iet-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.iet-bar-block .iet-dropdown-hover,.iet-bar-block .iet-dropdown-click{width:100%}
.iet-bar-block .iet-dropdown-hover .iet-dropdown-content,.iet-bar-block .iet-dropdown-click .iet-dropdown-content{min-width:100%}
.iet-bar-block .iet-dropdown-hover .iet-button,.iet-bar-block .iet-dropdown-click .iet-button{width:100%;text-align:left;padding:8px 16px}
.iet-main,#main{transition:margin-left .4s}
.iet-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.iet-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.iet-bar{width:100%;overflow:hidden}.iet-center .iet-bar{display:inline-block;width:auto}
.iet-bar .iet-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;line-height:3.5}
.iet-bar .iet-dropdown-hover,.iet-bar .iet-dropdown-click{position:static;float:left}
.iet-bar .iet-button{white-space:normal}
.iet-bar-block .iet-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.iet-bar-block.iet-center .iet-bar-item{text-align:center}.iet-block{display:block;width:100%}
.iet-responsive{display:block;overflow-x:auto}
.iet-container:after,.iet-container:before,.iet-panel:after,.iet-panel:before,.iet-row:after,.iet-row:before,.iet-row-padding:after,.iet-row-padding:before,
.iet-cell-row:before,.iet-cell-row:after,.iet-clear:after,.iet-clear:before,.iet-bar:before,.iet-bar:after{content:"";display:table;clear:both}
.iet-col,.iet-half,.iet-third,.iet-twothird,.iet-threequarter,.iet-quarter{float:left;width:100%}
.iet-col.s1{width:8.33333%}.iet-col.s2{width:16.66666%}.iet-col.s3{width:24.99999%}.iet-col.s4{width:33.33333%}
.iet-col.s5{width:41.66666%}.iet-col.s6{width:49.99999%}.iet-col.s7{width:58.33333%}.iet-col.s8{width:66.66666%}
.iet-col.s9{width:74.99999%}.iet-col.s10{width:83.33333%}.iet-col.s11{width:91.66666%}.iet-col.s12{width:99.99999%}
@media (min-width:601px){.iet-col.m1{width:8.33333%}.iet-col.m2{width:16.66666%}.iet-col.m3,.iet-quarter{width:24.99999%}.iet-col.m4,.iet-third{width:33.33333%}
.iet-col.m5{width:41.66666%}.iet-col.m6,.iet-half{width:49.99999%}.iet-col.m7{width:58.33333%}.iet-col.m8,.iet-twothird{width:66.66666%}
.iet-col.m9,.iet-threequarter{width:74.99999%}.iet-col.m10{width:83.33333%}.iet-col.m11{width:91.66666%}.iet-col.m12{width:99.99999%}}
@media (min-width:993px){.iet-col.l1{width:8.33333%}.iet-col.l2{width:16.66666%}.iet-col.l3{width:24.99999%}.iet-col.l4{width:33.33333%}
.iet-col.l5{width:41.66666%}.iet-col.l6{width:49.99999%}.iet-col.l7{width:58.33333%}.iet-col.l8{width:66.66666%}
.iet-col.l9{width:74.99999%}.iet-col.l10{width:83.33333%}.iet-col.l11{width:91.66666%}.iet-col.l12{width:99.99999%}}
.iet-rest{overflow:hidden}.iet-stretch{margin-left:-16px;margin-right:-16px}
.iet-content,.iet-auto{margin-left:auto;margin-right:auto}.iet-content{max-width:980px}.iet-auto{max-width:1140px}
.iet-cell-row{display:table;width:100%}.iet-cell{display:table-cell}
.iet-cell-top{vertical-align:top}.iet-cell-middle{vertical-align:middle}.iet-cell-bottom{vertical-align:bottom}
.iet-hide{display:none!important}.iet-show-block,.iet-show{display:block!important}.iet-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.iet-auto{max-width:95%}}
@media (max-width:600px){.iet-modal-content{margin:0 10px;width:auto!important}.iet-modal{padding-top:30px}
.iet-dropdown-hover.iet-mobile .iet-dropdown-content,.iet-dropdown-click.iet-mobile .iet-dropdown-content{position:relative}	
.iet-hide-small{display:none!important}.iet-mobile{display:block;width:100%!important}.iet-bar-item.iet-mobile,.iet-dropdown-hover.iet-mobile,.iet-dropdown-click.iet-mobile{text-align:center}
.iet-dropdown-hover.iet-mobile,.iet-dropdown-hover.iet-mobile .iet-btn,.iet-dropdown-hover.iet-mobile .iet-button,.iet-dropdown-click.iet-mobile,.iet-dropdown-click.iet-mobile .iet-btn,.iet-dropdown-click.iet-mobile .iet-button{width:100%}}
@media (max-width:768px){.iet-modal-content{width:500px}.iet-modal{padding-top:50px}}
@media (min-width:993px){.iet-modal-content{width:900px}.iet-hide-large{display:none!important}.iet-sidebar.iet-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.iet-hide-medium{display:none!important}}
@media (max-width:992px){.iet-sidebar.iet-collapse{display:none}.iet-main{margin-left:0!important;margin-right:0!important}.iet-auto{max-width:100%}}
.iet-top,.iet-bottom{position:fixed;width:100%;z-index:1}.iet-top{top:0}.iet-bottom{bottom:0}
.iet-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.iet-display-topleft{position:absolute;left:0;top:0}.iet-display-topright{position:absolute;right:0;top:0}
.iet-display-bottomleft{position:absolute;left:0;bottom:0}.iet-display-bottomright{position:absolute;right:0;bottom:0}
.iet-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.iet-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.iet-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.iet-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.iet-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.iet-display-container:hover .iet-display-hover{display:block}.iet-display-container:hover span.iet-display-hover{display:inline-block}.iet-display-hover{display:none}
.iet-display-position{position:absolute}
.iet-circle{border-radius:50%}
.iet-round-small{border-radius:2px}.iet-round,.iet-round-medium{border-radius:4px}.iet-round-large{border-radius:8px}.iet-round-xlarge{border-radius:16px}.iet-round-xxlarge{border-radius:32px}
.iet-row-padding,.iet-row-padding>.iet-half,.iet-row-padding>.iet-third,.iet-row-padding>.iet-twothird,.iet-row-padding>.iet-threequarter,.iet-row-padding>.iet-quarter,.iet-row-padding>.iet-col{padding:0 8px}
.iet-container,.iet-panel{padding:0.01em 16px}.iet-panel{margin-top:16px;margin-bottom:16px}
.iet-code,.iet-codespan{font-family:Consolas,"courier new";font-size:16px}
.iet-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.iet-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.iet-card,.iet-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.iet-card-4,.iet-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.iet-spin{animation:iet-spin 2s infinite linear}@keyframes iet-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.iet-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.iet-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.iet-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.iet-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.iet-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.iet-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.iet-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.iet-animate-input{transition:width 0.4s ease-in-out}.iet-animate-input:focus{width:100%!important}
.iet-opacity,.iet-hover-opacity:hover{opacity:0.60}.iet-opacity-off,.iet-hover-opacity-off:hover{opacity:1}
.iet-opacity-max{opacity:0.25}.iet-opacity-min{opacity:0.75}
.iet-greyscale-max,.iet-grayscale-max,.iet-hover-greyscale:hover,.iet-hover-grayscale:hover{filter:grayscale(100%)}
.iet-greyscale,.iet-grayscale{filter:grayscale(75%)}.iet-greyscale-min,.iet-grayscale-min{filter:grayscale(50%)}
.iet-sepia{filter:sepia(75%)}.iet-sepia-max,.iet-hover-sepia:hover{filter:sepia(100%)}.iet-sepia-min{filter:sepia(50%)}
.iet-tiny{font-size:10px!important}.iet-small{font-size:12px!important}.iet-medium{font-size:15px!important}.iet-large{font-size:18px!important}
.iet-xlarge{font-size:24px!important}.iet-xxlarge{font-size:36px!important}.iet-xxxlarge{font-size:48px!important}.iet-jumbo{font-size:64px!important}
.iet-left-align{text-align:left!important}.iet-right-align{text-align:right!important}.iet-justify{text-align:justify!important}.iet-center{text-align:center!important}
.iet-border-0{border:0!important}.iet-border{border:1px solid #ccc!important}
.iet-border-top{border-top:1px solid #ccc!important}.iet-border-bottom{border-bottom:1px solid #ccc!important}
.iet-border-left{border-left:1px solid #ccc!important}.iet-border-right{border-right:1px solid #ccc!important}
.iet-topbar{border-top:6px solid #ccc!important}.iet-bottombar{border-bottom:6px solid #ccc!important}
.iet-leftbar{border-left:6px solid #ccc!important}.iet-rightbar{border-right:6px solid #ccc!important}
.iet-section,.iet-code{margin-top:16px!important;margin-bottom:16px!important}
.iet-margin{margin:16px!important}.iet-margin-top{margin-top:16px!important}.iet-margin-bottom{margin-bottom:16px!important}
.iet-margin-left{margin-left:16px!important}.iet-margin-right{margin-right:16px!important}
.iet-padding-small{padding:4px 8px!important}.iet-padding{padding:8px 16px!important}.iet-padding-large{padding:12px 24px!important}
.iet-padding-16{padding-top:16px!important;padding-bottom:16px!important}.iet-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.iet-padding-32{padding-top:32px!important;padding-bottom:32px!important}.iet-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.iet-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.iet-left{float:left!important}.iet-right{float:right!important}
.iet-button:hover{color:#000!important;background-color:#ccc!important}
.iet-transparent,.iet-hover-none:hover{background-color:transparent!important}
.iet-hover-none:hover{box-shadow:none!important}
/* Colors */
.iet-amber,.iet-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.iet-aqua,.iet-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.iet-blue,.iet-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.iet-light-blue,.iet-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.iet-brown,.iet-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.iet-cyan,.iet-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.iet-blue-grey,.iet-hover-blue-grey:hover,.iet-blue-gray,.iet-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.iet-green,.iet-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.iet-light-green,.iet-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.iet-indigo,.iet-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.iet-khaki,.iet-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.iet-lime,.iet-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.iet-orange,.iet-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.iet-deep-orange,.iet-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.iet-pink,.iet-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.iet-purple,.iet-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.iet-deep-purple,.iet-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.iet-red,.iet-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.iet-sand,.iet-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.iet-teal,.iet-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.iet-yellow,.iet-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.iet-white,.iet-hover-white:hover{color:#000!important;background-color:#fff!important}
.iet-black,.iet-hover-black:hover{color:#fff!important;background-color:#000!important}
.iet-grey,.iet-hover-grey:hover,.iet-gray,.iet-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.iet-light-grey,.iet-hover-light-grey:hover,.iet-light-gray,.iet-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.iet-dark-grey,.iet-hover-dark-grey:hover,.iet-dark-gray,.iet-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.iet-pale-red,.iet-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.iet-pale-green,.iet-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.iet-pale-yellow,.iet-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.iet-pale-blue,.iet-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.iet-text-amber,.iet-hover-text-amber:hover{color:#ffc107!important}
.iet-text-aqua,.iet-hover-text-aqua:hover{color:#00ffff!important}
.iet-text-blue,.iet-hover-text-blue:hover{color:#2196F3!important}
.iet-text-light-blue,.iet-hover-text-light-blue:hover{color:#87CEEB!important}
.iet-text-brown,.iet-hover-text-brown:hover{color:#795548!important}
.iet-text-cyan,.iet-hover-text-cyan:hover{color:#00bcd4!important}
.iet-text-blue-grey,.iet-hover-text-blue-grey:hover,.iet-text-blue-gray,.iet-hover-text-blue-gray:hover{color:#607d8b!important}
.iet-text-green,.iet-hover-text-green:hover{color:#4CAF50!important}
.iet-text-light-green,.iet-hover-text-light-green:hover{color:#8bc34a!important}
.iet-text-indigo,.iet-hover-text-indigo:hover{color:#3f51b5!important}
.iet-text-khaki,.iet-hover-text-khaki:hover{color:#b4aa50!important}
.iet-text-lime,.iet-hover-text-lime:hover{color:#cddc39!important}
.iet-text-orange,.iet-hover-text-orange:hover{color:#ff9800!important}
.iet-text-deep-orange,.iet-hover-text-deep-orange:hover{color:#ff5722!important}
.iet-text-pink,.iet-hover-text-pink:hover{color:#e91e63!important}
.iet-text-purple,.iet-hover-text-purple:hover{color:#9c27b0!important}
.iet-text-deep-purple,.iet-hover-text-deep-purple:hover{color:#673ab7!important}
.iet-text-red,.iet-hover-text-red:hover{color:#f44336!important}
.iet-text-sand,.iet-hover-text-sand:hover{color:#fdf5e6!important}
.iet-text-teal,.iet-hover-text-teal:hover{color:#009688!important}
.iet-text-yellow,.iet-hover-text-yellow:hover{color:#d2be0e!important}
.iet-text-white,.iet-hover-text-white:hover{color:#fff!important}
.iet-text-black,.iet-hover-text-black:hover{color:#000!important}
.iet-text-grey,.iet-hover-text-grey:hover,.iet-text-gray,.iet-hover-text-gray:hover{color:#757575!important}
.iet-text-light-grey,.iet-hover-text-light-grey:hover,.iet-text-light-gray,.iet-hover-text-light-gray:hover{color:#f1f1f1!important}
.iet-text-dark-grey,.iet-hover-text-dark-grey:hover,.iet-text-dark-gray,.iet-hover-text-dark-gray:hover{color:#3a3a3a!important}
.iet-border-amber,.iet-hover-border-amber:hover{border-color:#ffc107!important}
.iet-border-aqua,.iet-hover-border-aqua:hover{border-color:#00ffff!important}
.iet-border-blue,.iet-hover-border-blue:hover{border-color:#2196F3!important}
.iet-border-light-blue,.iet-hover-border-light-blue:hover{border-color:#87CEEB!important}
.iet-border-brown,.iet-hover-border-brown:hover{border-color:#795548!important}
.iet-border-cyan,.iet-hover-border-cyan:hover{border-color:#00bcd4!important}
.iet-border-blue-grey,.iet-hover-border-blue-grey:hover,.iet-border-blue-gray,.iet-hover-border-blue-gray:hover{border-color:#607d8b!important}
.iet-border-green,.iet-hover-border-green:hover{border-color:#4CAF50!important}
.iet-border-light-green,.iet-hover-border-light-green:hover{border-color:#8bc34a!important}
.iet-border-indigo,.iet-hover-border-indigo:hover{border-color:#3f51b5!important}
.iet-border-khaki,.iet-hover-border-khaki:hover{border-color:#f0e68c!important}
.iet-border-lime,.iet-hover-border-lime:hover{border-color:#cddc39!important}
.iet-border-orange,.iet-hover-border-orange:hover{border-color:#ff9800!important}
.iet-border-deep-orange,.iet-hover-border-deep-orange:hover{border-color:#ff5722!important}
.iet-border-pink,.iet-hover-border-pink:hover{border-color:#e91e63!important}
.iet-border-purple,.iet-hover-border-purple:hover{border-color:#9c27b0!important}
.iet-border-deep-purple,.iet-hover-border-deep-purple:hover{border-color:#673ab7!important}
.iet-border-red,.iet-hover-border-red:hover{border-color:#f44336!important}
.iet-border-sand,.iet-hover-border-sand:hover{border-color:#fdf5e6!important}
.iet-border-teal,.iet-hover-border-teal:hover{border-color:#009688!important}
.iet-border-yellow,.iet-hover-border-yellow:hover{border-color:#ffeb3b!important}
.iet-border-white,.iet-hover-border-white:hover{border-color:#fff!important}
.iet-border-black,.iet-hover-border-black:hover{border-color:#000!important}
.iet-border-grey,.iet-hover-border-grey:hover,.iet-border-gray,.iet-hover-border-gray:hover{border-color:#9e9e9e!important}
.iet-border-light-grey,.iet-hover-border-light-grey:hover,.iet-border-light-gray,.iet-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.iet-border-dark-grey,.iet-hover-border-dark-grey:hover,.iet-border-dark-gray,.iet-hover-border-dark-gray:hover{border-color:#616161!important}
.iet-border-pale-red,.iet-hover-border-pale-red:hover{border-color:#ffe7e7!important}.iet-border-pale-green,.iet-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.iet-border-pale-yellow,.iet-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.iet-border-pale-blue,.iet-hover-border-pale-blue:hover{border-color:#e7ffff!important}




/* CSSTerm.com Simple Horizontal DropDown CSS menu #616161*/

.welcomemsg {
	background: #2196F3!important;
	padding:0;
	margin:0;
	list-style-type:none;
	display:block;
	color:#fff;
	text-decoration:none;
/*	font-family:Verdana,sans-serif;font-size:15px;*/
	font:13px verdana, sans-serif;
	height:20px;
}

.registerationMsg {
	background: #2196F3!important;
	padding:0;
	margin:0;
	list-style-type:none;
	display:block;
	color:#fff;
	text-decoration:none;
/*	font-family:Verdana,sans-serif;font-size:15px;*/
	font:13px verdana, sans-serif;
	height:40px;
}


.drop_menu {
	background: #428bca;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:9px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
/*	font-family:Verdana,sans-serif;font-size:15px;*/
	font:13px verdana, sans-serif;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background:#87CEEB; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#87CEEB;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#87CEEB;
}
.drop_menu li:hover ul li a:hover { background:#428bca; }

/*column layout for profile page

* {
  box-sizing: border-box;
}*/

/* Create three equal columns that floats next to each other
.columnprofpage {
  float: left;
  width: 33.33%;
  padding: 10px;
 /* height: 300px; /* Should be removed. Only for demonstration 
}*/

/* Create three equal columns that floats next to each other */
.columnprofpage1 {
  float: left;
  width: 32%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}


/* Create three equal columns that floats next to each other */
.columnprofpage2 {
  float: left;
  width: 36%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}



/* Clear floats after the columns */
.rowprofpage:after {
  content: "";
  display: table;
  clear: both;
border: 2px;
border-color: #f1f1f1!important;
}

.txtarea {
 margin: 20px 20px 20px 270px;   
}


.myProfilePic {
 margin: 100px 200px 100px 200px; 
}
.Whiteboardtest
{
	padding: 8px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    text-align: justify;
}

/* pmo edit user profile css */

.columnprofpageAssetAndAction {
  float: left;
  width: 36%;
  padding: 10px;
  height: 50%;
}   /* Should be removed. Only for demonstration */

.divaccessPrivilege {
  float: left;
  width: 14%;
  padding: 10px;
  height: 50%; /* Should be removed. Only for demonstration */
}

.divpmoAction {
  float: left;
  width: 22%;
  padding: 10px;
  height: 50%; /* Should be removed. Only for demonstration */
}

.columnonboardform1 {
    float: left;
  width: 50%;
  padding: 10px;
  height: 45%; /* Should be removed. Only for demonstration */
}

.columnonboardform2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 55%; /* Should be removed. Only for demonstration */
}


.Whiteboard
{
	width: 72%;
	padding: 8px;
    box-sizing: border-box;
    text-align: justify;
}

/* Boot strap css starts*/

caption {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom
}

th {
	text-align: inherit
}

label {
	display: inline-block;
	margin-top: .8rem;
	margin-bottom: .8rem;
	margin-left: 1rem;
}

button {
	border-radius: 0
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

button, input {
	overflow: visible
}

button, select {
	text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner,
	button::-moz-focus-inner {
	padding: 0;
	border-style: none
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time]
	{
	-webkit-appearance: listbox
}

[type=search] {
	outline-offset: -2px;
	-webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

.text-justify {
	text-align: justify !important
}

.text-nowrap {
	white-space: nowrap !important
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text-left {
	text-align: left !important
}

.text-right {
	text-align: right !important
}

.text-center {
	text-align: center !important
}

.col, .col-1, .col-access, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5,
	.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1,
	.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
	.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
	.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
	.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1,
	.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
	.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%
}

.col-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none
}

.col-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%
}

.col-access {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 13.333333%;
	flex: 0 0 13.333333%;
	max-width: 13.333333%
}

.col-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

.col-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.col-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.col-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.col-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%
}

.col-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%
}

.col-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%
}

.col-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%
}

.col-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}


.mw-100 {
	max-width: 100% !important
}

.mh-100 {
	max-height: 100% !important
}

.m-0 {
	margin: 0 !important
}

.mt-0, .my-0 {
	margin-top: 0 !important
}

.mr-0, .mx-0 {
	margin-right: 0 !important
}

.mb-0, .my-0 {
	margin-bottom: 0 !important
}

.ml-0, .mx-0 {
	margin-left: 0 !important
}

.m-1 {
	margin: .25rem !important
}

.mt-1, .my-1 {
	margin-top: .25rem !important
}

.mr-1, .mx-1 {
	margin-right: .25rem !important
}

.mb-1, .my-1 {
	margin-bottom: .25rem !important
}

.ml-1, .mx-1 {
	margin-left: .25rem !important
}

.m-2 {
	margin: .5rem !important
}

.mt-2, .my-2 {
	margin-top: .5rem !important
}

.mr-2, .mx-2 {
	margin-right: .5rem !important
}

.mb-2, .my-2 {
	margin-bottom: .5rem !important
}

.ml-2, .mx-2 {
	margin-left: .5rem !important
}

.m-3 {
	margin: 1rem !important
}

.mt-3, .my-3 {
	margin-top: 1rem !important
}

.mr-3, .mx-3 {
	margin-right: 1rem !important
}

.mb-3, .my-3 {
	margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
	margin-left: 1rem !important
}

.m-4 {
	margin: 1.5rem !important
}

.mt-4, .my-4 {
	margin-top: 1.5rem !important
}

.mr-4, .mx-4 {
	margin-right: 1.5rem !important
}

.mb-4, .my-4 {
	margin-bottom: 1.5rem !important
}

.ml-4, .mx-4 {
	margin-left: 1.5rem !important
}

.m-5 {
	margin: 3rem !important
}

.mt-5, .my-5 {
	margin-top: 3rem !important
}

.mr-5, .mx-5 {
	margin-right: 3rem !important
}

.mb-5, .my-5 {
	margin-bottom: 3rem !important
}

.ml-5, .mx-5 {
	margin-left: 3rem !important
}


.form-group {
	margin-bottom: 1rem
}

.form-text {
	display: block;
	margin-top: .25rem
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px
}

.form-row>.col, .form-row>[class*=col-] {
	padding-right: 5px;
	padding-left: 5px
}


.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-left: 1rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.img-circle {
    border-radius: 50%;
}

.iet-container-username,.iet-panel{padding:0.50em 16px}.iet-panel{margin-top:16px;margin-bottom:16px}

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.cnt223{
min-width: 600px;
width: 500px;
min-height: 150px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}

.form-controldateno {
	display: block;
	width: auto%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-left: 1rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


.footer {

   position: fixed;
   left:0;
   bottom: 0;
   width: 100%;
   background-color: #616161;
   height: 5%;
   color: white;
   overflow:auto;
   text-align: center;
   display:inline-block;
}


